:root {
    --Gray: hsl(0, 0%, 75%);
    --Grayish-Violet: hsl(257, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);

    --Cyan: hsl(180, 66%, 49%);
    --Dark-Violet: hsl(257, 27%, 26%);
}

* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;

    font-family: 'Poppins', sans-serif;

    outline: none;
}

html {

    font-size: 62.5%;
    overflow-x: hidden;
}

body {

    font-size: 1.8rem;

}

.header-container {

    width: 100vw;
    height: 12vh;

    display: flex;

    align-items: center;
    justify-content: center;

    color: var(--Grayish-Violet);
    font-weight: 700;
    font-size: 2rem;

}

header {

    width: 80%;
    max-width: 1440px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    
    margin-left: 20px;
    padding: 10px 30px;

    border-radius: 40px;
    border: 0px;

    background-color: var(--Cyan);
    color: white;
    font-weight: 700;

    cursor: pointer;
    font-size: 1.8rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

li + li {

    margin-left: 15px;
    margin-right: 30px;
}

.logo {

    margin-right: 30px;
}


.main-container {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main {

    width: 80%;
    max-width: 1440px;
    
    margin-top: 100px;

    display: flex;

    justify-content: space-between;

    min-height: 70vh;

}

main h1 {

    color: var(--Very-Dark-Blue);
    font-size: 10.5rem;
    line-height: 120px;
}

main p {

    color: var(--Grayish-Violet);
    font-weight: 500;

    font-size: 3rem;

    letter-spacing: 0.1rem;
}

main button {

    padding: 10px 50px;
    
    margin-top: 40px;

    font-size: 3.2rem;

    border-radius: 50px;
    border: 0px;

    background-color: var(--Cyan);
    color: white;
    font-weight: 700;

    cursor: pointer;
}

main img {

    position: absolute;
    right: -150px;
    top: 150px;

    height: 600px;
}

.section-container {

    width: 100vw;
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #f0f1f6;
}

section {

    width: 80%;
    max-width: 1440px;

    position: relative;

    min-height: 70vh;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.input-container {

    width: 100%;
    max-width: 1400px;

    position: absolute;

    top: -100px;

    display: flex;
    justify-content: space-between;

    background-color: #4b406b;

    padding: 60px;

    border-radius: 10px;
}

.input-container input {

    width: 80%;
    height: 70px;

    padding-left: 40px;

    font-size: 2rem;

    border-radius: 20px;
    border: 0px;

    color: var(--Grayish-Violet);
}

.input-container button {

    padding: 20px 40px;
    margin-left: 20px;

    border-radius: 20px;
    border: 0px;

    background-color: var(--Cyan);
    color: white;
    font-weight: 700;
    font-size: 2.5rem;

    cursor: pointer;
}

.main-section {

    text-align: center;
}

.main-section h2 {

    font-size: 5rem;
    margin-top: 300px;
}

.main-section p {

    margin-top: 20px;
    margin-bottom: 200px;
    font-size: 3rem;

    color: var(--Grayish-Violet);
}


.section-cards div {

    position: relative;

    background-color: white;

    padding: 40px;

}

.section-cards  {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;

    margin-bottom: 200px;
}


.section-cards h3 {

    margin-bottom: 20px;

}   


.section-cards p {

    color: var(--Grayish-Violet);

}

.item_2 {

    margin-top: 80px;
}

.item_3 {

    margin-top: 160px;
}

.section-footer {

    width: 100vw;
    height: 40vh;

    background-color: var(--Dark-Violet);

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.section-footer img {

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.section-footer h1 {

    font-size: 5rem;
    color: white;

    line-height: 30px;
}

.section-footer div {

    z-index: 1;
}

.section-footer button {

    padding: 10px 50px;
    
    margin-top: 40px;

    font-size: 3.2rem;

    border-radius: 50px;
    border: 0px;

    background-color: var(--Cyan);
    color: white;
    font-weight: 700;

    cursor: pointer;
}

.footer-container {

    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;

    background-color: var(--Very-Dark-Violet);
}

footer {

    margin-top: 100px;

    width: 80%;
    max-width: 1440px;

    display: flex;

    justify-content: space-between;
}

footer h2 {

    color: white;
    font-size: 3rem;
}

.grid-list  {

    display: flex;
}

.grid-list div {

    display: flex;
    flex-direction: column;
    

    margin-right: 90px;
}

div .media {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}

a {

    color: var(--Grayish-Violet);
    text-decoration: none;
    margin-bottom: 10px;
}

.title {

    color: white;
    margin-bottom: 20px;
}